body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://picsum.photos/seed/picsum/1920/1080');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top-content-container {
    position: relative;
    width: 740px;
    height: 230px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.glass-window, .new-card-container {
    position: absolute;
}

.glass-window {
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    z-index: 1;
}

.top-content-container.card-active .glass-window {
    transform: scale(0.95) translateY(-20%);
    opacity: 0.5;
}

.glass-window-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.glass-window {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 700px;
}

.main-content {
    display: flex;
    align-items: center;
}

.messages-window {
    flex: 1;
    padding-right: 20px;
}

.messages-window img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.ack-details {
    flex: 2;
    color: black;
    text-align: left;
}

.ack-details h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.ack-details p {
    margin: 5px 0;
    font-size: 16px;
}

.glass-window-2 {
  background: transparent;
  width: 700px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; 
  margin-bottom: 10px; 
}

.sky-input-container {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow the container to grow */
}

.sky-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  flex-grow: 1;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sky-input::placeholder {
  color: white;
  opacity: 1; /* By default, placeholders are semi-transparent */
}


.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.actions.hidden {
  pointer-events: none; /* Make sure the hidden buttons are not clickable */
}

.actions.hidden button {
  opacity: 0;
}

.actions button {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px; /* Fully rounded */
  color: white;
  padding: 6px 12px; 
  cursor: pointer;
  transition: background 0.3s ease, opacity 0.1s ease-in-out, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  font-size: 15px;
  white-space: nowrap; /* Prevent text from wrapping */
  opacity: 1;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
}

.actions button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.actions button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 4px 16px rgba(0, 0, 0, 0.2);
}

.suggestions {
    margin-top: 0;
}

.suggestions p {
  background: transparent;
  padding: 4px 0; 
  margin: 4px 0; 
  color: white;
  text-align: left;
  font-size: 15px; 
  cursor: pointer;
  transition: background 0.3s ease;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.suggestions p:hover {
  background: rgba(255, 255, 255, 0.1);
}

.messages-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.messages-icon img {
    width: 100%;
}